<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
      "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
      "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
	<property name="hibernate.connection.url">jdbc:postgresql://ec2-107-20-244-39.compute-1.amazonaws.com:5432/d6mqsv4u3cveim?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory</property>
	<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
	<property name="hibernate.connection.username">ofohumysuxbknn</property>
	<property name="hibernate.connection.password">7V4NyvzLoDO7CUfsgeyvBYFqmn</property>
	<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
	
	<!-- Enable Hibernate's automatic session context management -->
	<!-- <property name="current_session_context_class">thread</property> -->
	<property name="hibernate.enable_lazy_load_no_trans">true</property>	
	<property name="hibernate.connection.pool_size">1</property>
	<!-- <property name="show_sql">true</property> -->
    
	<mapping resource="acquisto.hbm.xml"/>
	<mapping resource="cliente.hbm.xml"/>
	<mapping resource="editore.hbm.xml"/>
	<mapping resource="libro.hbm.xml"/>
	<mapping resource="rigaDiAcquisto.hbm.xml"/>
	<mapping resource="prenotazione.hbm.xml"/>
</session-factory>
</hibernate-configuration>